<!DOCTYPE html>
<html lang="en" class="scrollbar-thin scrollbar-track-gradient-1 scrollbar-thumb-body-color scrollbar-track-rounded scrollbar-thumb-rounded">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gptify</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"><link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"></head>
  <body class="bg-gray-600">
    <header>
        <h1 class="text-center text-white">Hello world</h1>
    </header>
    <footer></footer>
    <script src="https://gptify.io/static/embed-xxx.js" data-chat-id="1_02c51d10-e784-4bdc-8874-0bc057829ad3" data-bg-color=""> // You can put your color code in data-bg-color to change the chatbubble's color </script>
<script defer src="{{ url_for('static', filename='bundle.js') }}"></script>
