<h2>Chatflux.io Returns Policy</h2>
<p>Last updated: 24 November 2023.</p>
<p>We understand that there may come a time to return a purchase and we aim to make the returns process as simple as possible.</p>
<p>If you’re looking to return or exchange your order, we offer free returns within 7 days of purchase. You can return your product for a refund to the original payment method.</p>
<p>Please note: </p>
<h3>Return Process</h3>
<p>To return an item, email us at support@chatflux.io with your Order Number and return reason and our support team will be happy to assist you with the next steps.</p>
<h3>Refunds</h3>
<p>After receiving your item/s and inspecting the condition, we will process your refund or exchange. Please allow at least 3 days from the receipt of your item/s for your return to be processed.</p>
<h3>Questions</h3>
<p>For questions relating to our returns policy, please contact us at support@chatflux.io</p>
